version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: churn_api
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    networks:
      - churn-net

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: churn_ui
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    networks:
      - churn-net

networks:
  churn-net:
    driver: bridge
