numpy
pandas
scikit-learn
matplotlib
jupyter
mlflow
fastapi
uvicorn
joblib
imblearn
xgboost
luigi
pytest
flake8
black
bandit
requests
toml
altair
pydeck
watchdog
streamlit
elasticsearch==8.11.1
psutil