version: "3.9"

services:
  mlflow:
    build:
      context: ..
      dockerfile: docker/Dockerfile.mlflow
    image: noticc/mlflow:latest
    container_name: mlflow
    ports:
      - "5000:5000"
    volumes:
      - mlflow_data:/mlflow
    networks:
      - churn-net

  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.api
    image: noticc/churn-api:latest
    container_name: churn_api
    ports:
      - "8000:8000"
    volumes:
      - ../models:/app/models
      - ../data:/app/data
    networks:
      - churn-net

  ui:
    build:
      context: ..
      dockerfile: docker/Dockerfile.streamlit
    image: noticc/churn-ui:latest
    container_name: churn_ui
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
    networks:
      - churn-net

networks:
  churn-net:
    driver: bridge

volumes:
  mlflow_data:
